<nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2">
                    <div id="colorlib-logo">
                        <a [routerLink]="['']" routerLinkActive="active">DevKySu</a>
                    </div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a href="">Gallery</a></li>
                        <li>
                            <a [routerLink]="['/about-me']" routerLinkActive="active">
                                About me
                            </a>
                        </li>
                        <li>
                            <a (click)="onChangeBg()"><i class="icon-sun"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>