<div>
  <app-header></app-header>

  <div id="colorlib-container">
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
        <!-- <app-sidebar-right *ngIf="true"></app-sidebar-right> -->
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>