<div class="side">
    <div class="form-group">
        <input type="text" class="form-control" id="search" placeholder="Enter any key to search...">
        <button type="submit" class="btn btn-primary"><i class="icon-search3"></i></button>
    </div>
</div>