<p>home works!</p>
<div class="content">
    <article class="blog-entry" *ngFor="let item of posts">
        <div class="blog-wrap">
            <span class="category text-center"><a href="blog.html">Health</a> | <a href="blog.html">Workout</a></span>
            <h2 class="text-center"><a href="blog.html">
                {{item.title}}
            </a></h2>
            <div class="blog-image">
                <div class="owl-carousel owl-carousel2 blog-item">
                    <div class="item">
                        <a href="#" class="blog image-popup-link" style="background-image: url(images/blog-1.jpg);">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="blog image-popup-link" style="background-image: url(images/blog-2.jpg);">
                        </a>
                    </div>
                </div>
                <ul class="share">
                    <li class="text-vertical"><i class="icon-share3"></i></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-googleplus"></i></a></li>
                </ul>
            </div>
            <span class="category text-center"><a href="blog.html"><i class="icon-calendar3"></i> January 21, 2017</a> | <a href="blog.html" class="posted-by"><i class="icon-user2"></i> by Stephy</a> | <a href="blog.html"><i class="icon-bubble3"></i> 5 Comments</a></span>
        </div>
        <div class="desc">
            {{item.body}}
        </div>
        <p class="text-center"><a href="blog.html" class="btn btn-primary btn-custom">Continue Reading</a></p>
    </article>
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>