

<aside class="sidebar">
   <app-search></app-search>
    <div class="side-wrap">
        <h2 class="sidebar-heading">About Me</h2>
        <div class="author-img" style="background-image: url(images/author.jpg);"></div>
        <p>Hi! My Name is <strong>Steph</strong> Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
        <ul class="colorlib-social-icons">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
        </ul>
    </div>
    <div class="side-wrap">
        <h2 class="sidebar-heading">Recent Post</h2>
        <div class="f-entry">
            <a href="#" class="featured-img" style="background-image: url(images/blog-1.jpg);"></a>
            <div class="desc">
                <span><i class="icon-calendar3"></i> January 21, 2018</span>
                <h3><a href="#">The Most Popular Leg Workout for Women</a></h3>
            </div>
        </div>
        <div class="f-entry">
            <a href="#" class="featured-img" style="background-image: url(images/blog-2.jpg);"></a>
            <div class="desc">
                <span><i class="icon-calendar3"></i> January 21, 2018</span>
                <h3><a href="#">The Most Popular Leg Workout for Women</a></h3>
            </div>
        </div>
        <div class="f-entry">
            <a href="#" class="featured-img" style="background-image: url(images/blog-3.jpg);"></a>
            <div class="desc">
                <span><i class="icon-calendar3"></i> January 21, 2018</span>
                <h3><a href="#">The Most Popular Leg Workout for Women</a></h3>
            </div>
        </div>
        <div class="f-entry">
            <a href="#" class="featured-img" style="background-image: url(images/blog-4.jpg);"></a>
            <div class="desc">
                <span><i class="icon-calendar3"></i> January 21, 2018</span>
                <h3><a href="#">The Most Popular Leg Workout for Women</a></h3>
            </div>
        </div>
    </div>
    <div class="side-wrap">
        <h2 class="sidebar-heading">Categories</h2>
        <ul class="category">
            <li><a href="#"><i class="icon-check"></i> Blog</a></li>
            <li><a href="#"><i class="icon-check"></i> Lifestyle</a></li>
            <li><a href="#"><i class="icon-check"></i> Travel</a></li>
            <li><a href="#"><i class="icon-check"></i> Fashion</a></li>
        </ul>
    </div>
    <div class="side-wrap">
        <h2 class="sidebar-heading">Video Post</h2>
        <div class="video colorlib-video" style="background-image: url(images/blog-1.jpg);">
            <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play"></i></a>
            <div class="overlay"></div>
        </div>
    </div>
    <div class="side-wrap">
        <h2 class="sidebar-heading">Tags</h2>
        <p class="tags">
            <span><a href="#"><i class="icon-tag"></i> Modeling</a></span>
            <span><a href="#"><i class="icon-tag"></i> Fashion</a></span>
            <span><a href="#"><i class="icon-tag"></i> Life</a></span>
            <span><a href="#"><i class="icon-tag"></i> Blog</a></span>
            <span><a href="#"><i class="icon-tag"></i> Workout</a></span>
            <span><a href="#"><i class="icon-tag"></i> Vacation</a></span>
            <span><a href="#"><i class="icon-tag"></i> Travel</a></span>
            <span><a href="#"><i class="icon-tag"></i> Exercise</a></span>
            <span><a href="#"><i class="icon-tag"></i> Health</a></span>
            <span><a href="#"><i class="icon-tag"></i> News</a></span>
            <span><a href="#"><i class="icon-tag"></i> Model</a></span>
            <span><a href="#"><i class="icon-tag"></i> Women</a></span>
            <span><a href="#"><i class="icon-tag"></i> Animals</a></span>
            <span><a href="#"><i class="icon-tag"></i> Nature</a></span>
            <span><a href="#"><i class="icon-tag"></i> Art</a></span>
            <span><a href="#"><i class="icon-tag"></i> Sea</a></span>
            <span><a href="#"><i class="icon-tag"></i> Ocean</a></span>
            <span><a href="#"><i class="icon-tag"></i> Office</a></span>
            <span><a href="#"><i class="icon-tag"></i> Home</a></span>
        </p>
    </div>
    <div class="side-wrap">
        <h2 class="sidebar-heading">Gallery</h2>
        <a href="images/gallery-1.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/gallery-1.jpg);">
            <span><i class="icon-search3"></i></span>
        </a>
        <a href="images/gallery-2.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/gallery-2.jpg);">
            <span><i class="icon-search3"></i></span>
        </a>
        <a href="images/gallery-3.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/gallery-3.jpg);">
            <span><i class="icon-search3"></i></span>
        </a>
        <a href="images/gallery-4.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/gallery-4.jpg);">
            <span><i class="icon-search3"></i></span>
        </a>
        <a href="images/gallery-5.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/gallery-5.jpg);">
            <span><i class="icon-search3"></i></span>
        </a>
        <a href="images/gallery-6.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/gallery-6.jpg);">
            <span><i class="icon-search3"></i></span>
        </a>
        <a href="images/gallery-7.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/gallery-7.jpg);">
            <span><i class="icon-search3"></i></span>
        </a>
        <a href="images/gallery-8.jpg" class="gallery image-popup-link text-center" style="background-image: url(images/gallery-8.jpg);">
            <span><i class="icon-search3"></i></span>
        </a>
    </div>
    <div class="side-wrap">
        <h2 class="sidebar-heading">Blockquote</h2>
        <blockquote>
            " Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
        </blockquote>
    </div>
    <div class="side-wrap">
        <h2 class="sidebar-heading">Paragraph</h2>
        <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around</p>
    </div>
    <div class="side">
        <h2 class="sidebar-heading">Subscribe to our newsletter</h2>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <div class="form-group">
                    <input type="text" class="form-control form-email text-center" id="email" placeholder="Enter your email">
                    <button type="submit" class="btn btn-primary btn-subscribe">Subscribe</button>
                </div>
            </div>
            <ul class="colorlib-social-icons text-center">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                <li><a href="#"><i class="icon-dribbble"></i></a></li>
            </ul>
        </div>
    </div>
</aside>